<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="<%= title %>"/>
    <meta name="keywords" content="HTML, CSS, JavaScript"/>
    <meta name="author" content="John Doe"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.ico"/>

    <title><%= title %></title>
</head>

<body>
<div id="app"></div>
<script type="module" src="/src/main.js"></script>
</body>
<!--  <script-->
<!--    data-host-id="1"-->
<!--    data-theme-color="#1fe1f9"-->
<!--    data-close-width="48"-->
<!--    data-close-height="48"-->
<!--    data-open-width="380"-->
<!--    data-open-height="680"-->
<!--    data-welcome="Your custom welcome text"-->
<!--    src="https://voce.gaara.buzz/widget.js"-->
<!--    async-->
<!--  ></script>-->
</html>
