/* datatable*/
.customize-table {
    --easy-table-header-font-size: 14px;
    --easy-table-header-height: 50px;

    --easy-table-footer-font-size: 16px;
    --easy-table-footer-padding: 0px 10px;
    --easy-table-footer-height: 70px;

    --easy-table-body-row-height: 50px;
    --easy-table-body-row-font-size: 14px;

    --easy-table-rows-per-page-selector-width: 70px;
    --easy-table-rows-per-page-selector-option-padding: 10px;
    --easy-table-rows-per-page-selector-z-index: 1;
}

.customize-table-dark {
    --easy-table-header-font-size: 14px;
    --easy-table-header-height: 50px;
    --easy-table-header-background-color:#312D4B;
    --easy-table-header-font-color:#FFFFFF;

    --easy-table-body-row-height: 50px;
    --easy-table-body-row-font-size: 14px;
    --easy-table-body-row-font-color: #FFFFFF;
    --easy-table-body-row-background-color:#312D4B;
    --easy-table-body-row-hover-font-color:#FFFFFF;
    --easy-table-body-row-hover-background-color:#28243D;

    --easy-table-footer-font-size: 16px;
    --easy-table-footer-padding: 0px 10px;
    --easy-table-footer-height: 70px;
    --easy-table-footer-background-color:#312D4B;
    --easy-table-footer-font-color:#FFFFFF;

    --easy-table-rows-per-page-selector-width: 70px;
    --easy-table-rows-per-page-selector-option-padding: 10px;
    --easy-table-rows-per-page-selector-z-index: 1;
}


/* for vuedraggable*/
.ghost {
    opacity: 0.5;
    background: lightseagreen;
    border-radius: 6px;
}

.drag {
    transform: rotate(5deg) !important;
}

.not-draggable {
    cursor: no-drop;
}

/* fix tinymc dialog*/
.tox-tinymce-aux {
    z-index: 9999 !important;
}